<!DOCTYPE html>
<html>
<head>
<title>Aprendiendo git 🔥</title>
<link rel="stylesheet" href="estilo.css" >

</head>
<body>
<h1>Hola amigos soy mickey mouse</h1>

<img  src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1e7KHR.img?w=768&h=565&m=6&x=188&y=127&s=362&d=361">

<img width="800" height="565" alt="hi" src="https://media.vogue.mx/photos/649dd9c2d551be267de08bbc/16:9/pass/Margot-Robbie-con-vestido-rosa-de-lunares-GettyImages-1501785650.jpg">

<ol>
<li>CR7</li>
<li>LD23</li>
<li>RF9</li>
<li>JR10</li>
<li>Gio10</li>
<li>Teo29</li>
<li>LM10</li>
</ol>
</body>




</html>